.box {
  background: #00000050;
  width: 448px;
  height: 281px;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(50px) !important;
  border-radius: 25px;
  margin: 0px 7px;
  transition: .3s all;
}

.box h3 {
  font-weight: 800 !important;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.box .con-ip-text {
  background-color: #180930;
  border-radius: 5px;
  width: 150px !important;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}


.box h4 {
  font-size: 20px;
  font-weight: 800 !important;
  margin: 0px;
  margin-left: 5px;
  color: #11ff98;
  margin-top: 3px;
}

.box h5 {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 800 !important;
  font-size: 13px;
  position: relative;
}

.loading-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3a8fff;
  box-shadow: 0 0 10px 1px #3a8fff66;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.connected-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #11ff98;
  box-shadow: 0 0 10px 1px #11ff98ca;

}

.failed-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff3859;
  box-shadow: 0 0 10px 1px #ff3859bb;
}

.con-text-ip {
  margin-left: 27px;
}


.con-games img {
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 3;
  width: 50%;
  border-radius: 7px !important;
  cursor: pointer;
  transition: .5s all;
}


.con-games:hover img:nth-child(1) {
  transform: translateY(5px);
}

.con-games:hover img:nth-child(2) {
  transform: translateY(-10px) translateX(5px) rotate(-5deg);
}

.con-games:hover img:nth-child(3) {
  transform: translateY(-28px)translateX(0px) rotate(-5deg);
}


.con-games img:nth-child(1) {
  top: -12px;
  right: 0px;
  width: 198px;
  height: 257px;
  z-index: 3;
}

.con-games img:nth-child(2) {
  top: -25px;
  right: 22px;
  z-index: 2;
  width: 233px !important;
  height: 270px !important;
}

.con-games img:nth-child(3) {
  top: -15px;
  right: 55px;
  z-index: 1;
  width: 220px;
  height: 259px;
}

.game-button {
  position: absolute;
  right: 20px;
  bottom: 60px;
  z-index: 4;
  background: #2d315c;
  border-radius: 10px;
  color: #fff;
  font-size: 20px !important;
  font-weight: 600 !important;
  height: 46px !important;
  width: 193px !important;
}


.game-button span {
  margin-top: -5px;
  margin-right: 5px;
  transition: all 0.3s;
  animation: arrow 1s infinite;
}

.box-map img {
  position: relative;
  width: 85%;
  height: 85%;
}

.box-map {
  position: relative;
}

.map-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(0, 255, 170, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 255, 170, 0.9);
  animation: pulse 2.5s infinite ease-in-out;
}


.dot-1 {
  top: 18%;
  left: 30%;
  animation-delay: 0s;
}

.dot-2 {
  top: 32%;
  left: 78%;
  animation-delay: 0.5s;
}

.dot-3 {
  top: 70%;
  left: 33%;
  animation-delay: 1s;
}

.dot-4 {
  top: 60%;
  left: 55%;
  animation-delay: 1.5s;
}

.dot-5 {
  top: 35%;
  left: 63%;
  animation-delay: 2s;
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 0.6;
  }

  50% {
    -webkit-transform: translateY(-50%) scale(1.3);
    transform: translateY(-50%) scale(1.3);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 0.6;
  }
}

.failed-text {
  color: #ff3859 !important;
}

@media (max-width: 992px) {
  .map-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(0, 255, 170, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.9);
    animation: pulse 2s infinite ease-in-out;
  }

  .box {
    width: 80%;
  }

  .box:nth-child(1) {
    height: 241.5px !important;
    margin-top: 10px !important;
  }


  .box:nth-child(2) {
    height: 200.5px !important;
    margin-top: 90px !important;
    padding-left: 40px;
  }


  .con-games img:nth-child(1) {
    top: -60px;
    right: 20px;
  }

  .con-games img:nth-child(2) {
    top: -75px;
    right: 27px;
  }

  .con-games img:nth-child(3) {
    top: -60px;
    right: 57px;
  }




  .game-button {
    right: 25px;
    bottom: 20px;
  }












}













@media (max-width: 576px) {


  .con-games img {
    right: 15px;
    bottom: 20px;
    width: 120px;
  }

  .box:nth-child(2) {
    height: 101.5px !important;
    margin-top: 30px !important;
  }

  .box {
    width: 90%;
  }

  .box h3 {
    margin-top: 7px;
    font-weight: 800 !important;
    font-size: 18px !important;
    margin-bottom: 7px !important;
  }

  .box .con-ip-text {
    background-color: #180930;
    border-radius: 5px;
    width: 116px !important;
    height: 23px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .box .con-ip-text h4 {
    font-size: 14px;
    font-weight: 800 !important;
  }

  .box h5 {
    font-size: 12px !important;
    margin-top: 6px;
  }



  .con-games img:nth-child(1) {
    top: -30px;
    right: 70px;
    width: 95px !important;
    height: 123.5px !important;
  }

  .con-games img:nth-child(2) {
    top: -35px;
    right: 77px;
    width: 116px !important;
    height: 125.5px !important;
  }

  .con-games img:nth-child(3) {
    top: -22px;
    right: 107px;
    width: 100px !important;
    height: 100.5px !important;
    transform: rotate(-15deg);
  }

  .game-button {
    width: 94px !important;
    height: 23.5px !important;
    right: 72px;
    bottom: 15px;
    border-radius: 5px;
    font-weight: 800 !important;
    font-size: 12px !important;
  }

  .game-button span {
    font-size: 12px !important;
    margin: 0px !important;
    margin-right: 3px !important;
  }

  .con-games:hover img:nth-child(1) {
    transform: translateY(5px);
  }

  .con-games:hover img:nth-child(2) {
    transform: translateY(-5px) rotate(0deg);
  }

  .con-games:hover img:nth-child(3) {
    transform: translateY(-20px)translateX(0px) rotate(-5deg) !important;
  }


}

@media (max-width: 500px) {
  .box:nth-child(2) {
    padding-left: 0px !important;
    margin-top: 10px !important;
  }

  .con-games img:nth-child(1) {
    top: -30px;
    right: 20px;
    width: 95px !important;
    height: 123.5px !important;
  }

  .con-games img:nth-child(2) {
    top: -35px;
    right: 27px;
    width: 116px !important;
    height: 125.5px !important;
  }

  .con-games img:nth-child(3) {
    top: -22px;
    right: 57px;
    width: 100px !important;
    height: 100.5px !important;
    transform: rotate(-15deg);
  }

  .game-button {
    width: 94px !important;
    height: 23.5px !important;
    right: 22px;
    bottom: 15px;
    border-radius: 5px;
    font-weight: 800 !important;
    font-size: 12px !important;
  }


  .text-result {
    margin-top: 0px !important;
  }
}