.box {
  background: #00000050;
  width: 448px;
  height: 281px;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(50px) !important;
  border-radius: 25px;
  margin: 0px 7px;
  transition: 0.3s all;
}

.box h3 {
  font-weight: 800 !important;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  transition: 0.3s all;
}

.box .con-ip-text {
  background-color: #180930;
  border-radius: 5px;
  width: 150px !important;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.game-sm {
  display: none;
}

.box h4 {
  font-size: 20px;
  font-weight: 800 !important;
  margin: 0px;
  margin-left: 5px;
  color: #11ff98;
  margin-top: 3px;
}

.box h5 {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 800 !important;
  font-size: 13px;
  position: relative;
}

.loading-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 45%;
  background-color: #11ff98;
  box-shadow: 0 0 10px 1px #11ff98ca;
  -webkit-animation: pulse_loading 1s infinite;
  animation: pulse_loading 1s infinite;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
}

@-webkit-keyframes pulse_loading {
  0% {
    -webkit-transform: translateY(-65%) scale(1);
    transform: translateY(-65%) scale(1);
  }
  50% {
    -webkit-transform: translateY(-65%) scale(1.3);
    transform: translateY(-65%) scale(1.3);
  }
  100% {
    -webkit-transform: translateY(-65%) scale(1);
    transform: translateY(-65%) scale(1);
  }
}

@keyframes pulse_loading {
  0% {
    -webkit-transform: translateY(-65%) scale(1);
    transform: translateY(-65%) scale(1);
  }
  50% {
    -webkit-transform: translateY(-65%) scale(1.3);
    transform: translateY(-65%) scale(1.3);
  }
  100% {
    -webkit-transform: translateY(-65%) scale(1);
    transform: translateY(-65%) scale(1);
  }
}

.connected-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #11ff98;
  box-shadow: 0 0 10px 1px #11ff98ca;
}

.failed-circle::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ff3859;
  box-shadow: 0 0 10px 1px #ff3859bb;
}

.con-text-ip {
  margin-left: 27px;
}

.con-games .game-1,
.game-2,
.game-3 {
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 3;
  width: 50%;
  border-radius: 7px !important;
  cursor: pointer;
  transition: 0.5s all;
}

.con-games:hover .game-1 {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.con-games:hover .game-2 {
  -webkit-transform: translateY(-10px) translateX(5px) rotate(-5deg);
  transform: translateY(-10px) translateX(5px) rotate(-5deg);
}

.con-games:hover .game-3 {
  -webkit-transform: translateY(-28px) translateX(0px) rotate(-5deg);
  transform: translateY(-28px) translateX(0px) rotate(-5deg);
}

.game-1 img,
.game-2 img,
.game-3 img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.con-games .game-1 {
  top: -12px;
  right: 0px;
  width: 198px;
  height: 257px;
  z-index: 3;
}

.con-games .game-2 {
  top: -25px;
  right: 22px;
  z-index: 2;
  width: 233px !important;
  height: 270px !important;
}

.con-games .game-3 {
  top: -15px;
  right: 55px;
  z-index: 1;
  width: 220px;
  height: 259px;
}

.game-button {
  position: absolute;
  right: 20px;
  bottom: 60px;
  z-index: 4;
  background: #2d315c;
  border-radius: 10px;
  color: #fff;
  font-size: 20px !important;
  font-weight: 600 !important;
  height: 46px !important;
  width: 193px !important;
  transition: 0.4s all;
}

.game-button:hover {
  background: #20234d !important;
}

.game-button span {
  margin-top: -5px;
  margin-right: 5px;
  transition: all 0.3s;
  -webkit-animation: arrow 1s infinite;
  animation: arrow 1s infinite;
}

.box-map img {
  position: relative;
  width: 85%;
  height: 85%;
}

.box-map {
  position: relative;
}

.map-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #11ff98;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px #11ff98;
  -webkit-animation: pulse 2.5s infinite ease-in-out;
  animation: pulse 2.5s infinite ease-in-out;
}

.dot-1 {
  top: 18%;
  left: 30%;
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.dot-2 {
  top: 32%;
  left: 78%;
  -webkit-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}

.dot-3 {
  top: 70%;
  left: 33%;
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.dot-4 {
  top: 60%;
  left: 55%;
  -webkit-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.dot-5 {
  top: 35%;
  left: 63%;
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.failed-text {
  color: #ff3859 !important;
}

@media (max-width: 992px) {
  .map-dot {
    width: 6px;
    height: 6px;
  }

  .box {
    width: 80%;
  }

  .box:nth-child(1) {
    height: 241.5px !important;
    margin-top: 10px !important;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(69, 55, 100, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ) !important;
  }

  .box:nth-child(2) {
    height: 200.5px !important;
    margin-top: 90px !important;
    padding-left: 40px;
  }

  .con-games .game-1 {
    top: -60px;
    right: 20px;
  }

  .con-games .game-2 {
    top: -75px;
    right: 27px;
  }

  .con-games .game-3 {
    top: -60px;
    right: 57px;
    border-radius: 5000000px !important;
  }

  .game-button {
    right: 25px;
    bottom: 20px;
  }
}

@media (max-width: 576px) {
  .con-games .game-1,
  .game-2,
  .game-3 {
    right: 15px;
    bottom: 20px;
    width: 120px;
  }

  .box:nth-child(2) {
    height: 101.5px !important;
    margin-top: 30px !important;
  }

  .box {
    width: 90%;
  }

  .box h3 {
    margin-top: 7px;
    font-weight: 800 !important;
    font-size: 18px !important;
    margin-bottom: 7px !important;
  }

  .box .con-ip-text {
    background-color: #180930;
    border-radius: 5px;
    width: 116px !important;
    height: 23px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .box .con-ip-text h4 {
    font-size: 14px;
    font-weight: 800 !important;
  }

  .box h5 {
    font-size: 12px !important;
    margin-top: 6px;
  }

  .con-games .game-1 {
    top: -30px;
    right: 70px;
    width: 95px !important;
    height: 123.5px !important;
  }

  .con-games .game-2 {
    top: -35px;
    right: 77px;
    width: 116px !important;
    height: 125.5px !important;
  }

  .con-games .game-3 {
    top: -22px;
    right: 107px;
    width: 100px !important;
    height: 100.5px !important;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  .game-button {
    width: 94px !important;
    height: 23.5px !important;
    right: 72px;
    bottom: 15px;
    border-radius: 5px;
    font-weight: 800 !important;
    font-size: 12px !important;
  }

  .game-button span {
    font-size: 12px !important;
    margin: 0px !important;
    margin-right: 3px !important;
  }

  .con-games:hover .game-1 {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  .con-games:hover .game-2 {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }

  .con-games:hover .game-3 {
    -webkit-transform: translateY(-20px) translateX(0px) rotate(-5deg) !important;
    transform: translateY(-20px) translateX(0px) rotate(-5deg) !important;
  }
}

@media (max-width: 500px) {
  .box:nth-child(2) {
    padding-left: 0px !important;
    margin-top: 10px !important;
  }

  .con-games .game-1 {
    top: -30px;
    right: 20px;
    width: 95px !important;
    height: 123.5px !important;
  }

  .con-games .game-2 {
    top: -35px;
    right: 27px;
    width: 116px !important;
    height: 125.5px !important;
  }

  .con-games .game-3 {
    top: -22px;
    right: 57px;
    width: 100px !important;
    height: 100.5px !important;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  .game-button {
    width: 94px !important;
    height: 23.5px !important;
    right: 22px;
    bottom: 15px;
    border-radius: 5px;
    font-weight: 800 !important;
    font-size: 12px !important;
  }

  .text-result {
    margin-top: 0px !important;
  }

  .game-lg {
    display: none;
  }

  .game-sm {
    display: flex;
  }
}
