@import url("./reset.css");
@import url("./style.css");

body {
  background-color: #0b0b0b;
  background-image: url(../img/bg.svg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

body::before {
  content: "";
  position: fixed;
  width: 400px;
  height: 400px;
  background: #6400FA;
  z-index: -1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  border-radius: 50%;
  filter: blur(85px);
}


@media (max-width: 992px) {
  body::before {
    content: "";
    position: fixed;
    width: 300px;
    height: 300px;
    background: #6400FA;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    border-radius: 50%;
    filter: blur(100px);
  }
}


main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

