@import url("./reset.css");
@import url("./style.css");

body {
  background-color: #0b0b0b;
  background-image: url(../img/bg.svg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  background: url(../img/shadow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (max-width: 992px) {
  body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    background: url(../img/shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
  }
}


main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
