@font-face {
  font-family: "Yekan_Bakh";
  src: url("../fonts/Yekan_Bakh/YekanBakh-SemiBold.woff2") format("woff2"),
       url("../fonts/Yekan_Bakh/YekanBakh-SemiBold.woff") format("woff");
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: "Yekan_Bakh";
  src: url("../fonts/Yekan_Bakh/YekanBakh-ExtraBold.woff2") format("woff2"),
       url("../fonts/Yekan_Bakh/YekanBakh-ExtraBold.woff") format("woff");
  font-weight: 800; 
  font-style: normal;
}

* {
  font-family: "Yekan_Bakh", sans-serif;
}
