.square-loading {
  width: 185px;
  height: 185px;
  background: linear-gradient(
    to right bottom,
    #070116 0%,
    #0f012f 40%,
    #0f012f 60%,
    #070116 100%
  ) !important;
  border-radius: 48px;
}

.square-loading .item-1,
.square-loading .item-2,
.square-loading .item-3 {
  width: 25px;
  height: 86px;
  margin: 0 4px;
  -webkit-clip-path: polygon(0 0, 0 0, 100% 45%, 100% 100%, 0 100%, 0 0, 0 0);
  background: linear-gradient(transparent, rgba(111, 34, 255, 0.9));
  background-size: 100% 400%;
  background-position: 0% 100%;
  -webkit-animation: ultraSmoothFlow 5s linear infinite;
}

@-webkit-keyframes ultraSmoothFlow {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% -300%;
  }
}

@keyframes ultraSmoothFlow {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% -300%;
  }
}

.item-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s !important;
}
.item-2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.4s !important;
}
.item-3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.8s !important;
}
